/* CourseWork.css */
.coursework-container {
    margin-top: 30px;
  }
  
  .course-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the space between items */
  }
  
  .course {
    background-color: #f0f0f0; /* Light grey background */
   
  }